.info-card {
  vertical-align: top;
  background-color: #fff;
  width: 300px;
  height: 530px;
  display: inline-block;
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  font-family:monospace;
  font-size: 16px;
  text-align: center;
}

.info-title {
  font-style: normal;
  font-weight: bolder;
  font-family: cursive;
}

.link-button {
  padding: 2px 15px;
  background-color: black;
  color: white;
  font-family: monospace;
  margin-top: 20px;
  border-radius: 10px;
}

.star {
  color: gold;
}

.price {
  color: green;
}
