.info-card {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 530px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: ridge;
  border-color: black;
  font-family:monospace;
  font-size: 16px;
  text-align: center;
}

.link-button {
  padding: 20px;
  background-color: black;
  color: white;
  font-family: monospace;
  margin-top: 20px;
  border-radius: 10px;
}
