body {
  background-color: rgba(210,0,0, 0.9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing {
  vertical-align: top;
  height: 900px;
  width: auto;
}

.search-text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
}

.logo {
  margin: auto;
}


input[type=text] {
  width: 80%;
  font-size: 15px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-form {
  height: 400px;
  width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 3%;
}

.btn {
  background-color: green;
  box-shadow: 15px 10px 10px black;
  border-radius: 6%;
  color: white;
  border: none;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin: 5px;
}

.btn:hover {
  background-color: rgba(000, 255, 155, 0.7);
  cursor: pointer;
}
